h1{
    color : red;
}

body{
    margin:0;
}

#header-img{
    width:50px;
    height:50px;
    padding-right: 20px;
    margin-top: 15px;
}

header{
    display : flex;
    background-color : purple;
    justify-content: center;

}

h2{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

#top-text{
    top:0px;
}

#bottom-text{
    bottom:0px;
}

div , img{
    position: relative;
    width:100%;
}